<% content_for(:title) do %>
  <%= display_resource_name(page.resource_name) %>
<% end %>

<header class="main-content__header">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>

  <% if show_search_bar %>
    <%= render(
      "search",
      search_term: search_term,
      resource_name: display_resource_name(page.resource_name)
    ) %>
  <% end %>

  <div>
    <%= link_to(
      t(
        "administrate.actions.new_button",
        default: [:'administrate.actions.new_resource'],
        name: display_resource_name(page.resource_name, singular: true).downcase
      ),
      [:new, namespace, page.resource_path.to_sym],
      class: "button button--info",
    ) if accessible_action?(new_resource, :new) %>
  </div>

  <%= render("import_buttons", page: page, new_resource: new_resource) %>
  <%= content_for(:header_last) %>
</header>

<% if @ransack_results.present? %>
  <section class="ransack-filters-container">
    <%= render(
      "administrate_ransack/filters",
      attribute_types: (page.collection_filter_types.presence || page.attribute_types),
      page: page,
      namespace: namespace
    ) %>
  </section>
<% end %>
